//overordnet
* {
  margin: 0;
}

html {
  font-size: 62.5%; //1rem=10px
}

body {
  background-color: #ffffff;
}

//Link til typografi
//h1
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700');
//h1
//h2
@import url('https://fonts.googleapis.com/css?family=Bitter:700');
//h2 slut
//p
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
//p slut
//Link til typografi slut

header {
  display: flex;
  justify-content: space-around;
}

header div {
  position: relative;
}

header div h2{
  position: absolute;
  top: 160px;
  left: 30px;
}

#logosort {
  width: 160pt;
  height: 124.224pt;
  padding: 20pt;

}

  h1 {
    font-family: "Bitter", "Bell MT", Serif;
    font-weight: bold;
    text-align: center;
    color: #338aff;
    font-size: 3rem;
  }

  h2 {
    font-familiy: "Centaur", Serif;
    font-style: italic;
    font-size: 1.5rem;
    color: #338aff;
  }

  h3 {
    font-family: "Bitter", "Bell MT", Serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 16pt;
    color: #4e6380;
  }

  p {
    font-family: "Crimson", "Bell MT", Serif;
    text-align: left;
    margin: 16pt;
    color: #4e6380;
    font-size: 2.3rem;
  }

  .one_image {
    display: flex;
    justify-content: center;
    margin: 16pt;
  }

  .images {
  display: flex;
  justify-content: space-around;
  margin: 16pt;
  }
  //overordnet slut

  //navigation
  nav {
    font-family: "Crimson", "Bell MT", Serif;
    font-weight: bold;
    font-size: 1.7rem;
    //nav_placering af tekst
    display: flex;
    justify-content: space-around;
    padding: 8pt;
    margin: 0pt 10pt;
    //nav_placering af tekst slut

    //nav_links
      //nav_normal (besøgt, ikke besøgt og hover)
      a{
        color: #4e6380;
        text-decoration: none;
        background-color: #ffffff;
        padding: 2pt;
      }
      //nav_normal slut

      //nav_aktuel side
      .active {
        color: #80b6ff;
        background-color: #4e6380;
        padding: 2pt;
      }
      //nav_aktuel side

      //nav_klik
      a:active {
        color: #80b6ff;
        background-color: #4e6380;
      text-decoration: none;
      }
      //nav_klik slut
  }
  //navigation slut

//forside

.forside_billeder div img {
  width: 100%;
}

.forside_billeder div {
  position: relative;
  margin: 16pt;
}

.forside_billeder div h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

//forside-slut

//produkt -Anna

.produkt {
  width: 100%;
  max-width: 750px;
  max-height: 750px;
  padding: 20px 0;
  //margin: 16pt;
}

.pr_section {
  margin: 16pt;
}

.pris {
  color: black;
  font-weight: bold;
}

#kay_titel {
  grid-area: kay_titel
}

#kay1{
  grid-area: kay1;
}

#kay2 {
  grid-area: kay2;
}

#kay3 {
  grid-area: kay3;
}

#kaehler_titel{
  grid-area: kaehler_titel;
}

#kaehler1{
  grid-area: kaehler1;
}

#kaehler2 {
  grid-area: kaehler2;
}

#copen_titel {
  grid-area: copen_titel;
}

#copen{
  grid-area: copen;
}

#ny_titel{
  grid-area: ny_titel;
}

#ny1 {
  grid-area: ny1;
}

#ny2 {
  grid-area: ny2;
}

//produkt-slut

//inspiration
.p_padding{
  padding-bottom: 40px;
}

#nederste{
  margin-bottom: +15px;
}
.inspiration{
  width: 100%;
}
//inspiration-slut

    footer {
    background-color: #000000;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  footer img {
    height: 40px;
    padding: 10px;
  }


//mediaquery + grid (tablet)
@media screen and (min-width: 768px) {
  @supports (grid-area: auto) {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 3rem;
    }

    header div h2{
      top: 295px;
      left: 50px;
    }

    #logosort {
      width: 320pt;
      height: 248.448pt;
    }

    nav{
      font-size: 3.2rem;
    }
    nav a {
      padding: 13pt;
    }

    nav .active {
      padding: 13pt;
    }

    nav a:active {
      padding: 13pt;
    }

    #produktside{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas:
              "header header"
              "nav nav"
              "kay_titel kay_titel"
              "kay1 kay2"
              "kay3 ."
              "kaehler_titel kaehler_titel"
              "kaehler1 kaehler2"
              "copen_titel copen_titel"
              "copen ."
              "ny_titel ny_titel"
              "ny1 ny2"
              "footer footer";
    }

    header {
      grid-area: header;
    }

    nav {
      grid-area: nav;
    }

    footer {
      grid-area: footer;
    }

    footer img {
      height: 80px;
      padding: 20px;
    }
  }
  @media screen and (min-width: 1200px) {

    .forside_billeder{
      display: inline-flex;
    }

  #produktside{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas:
                "header header header"
                "nav nav nav"
                "kay_titel kay_titel kay_titel"
                "kay1 kay2 kay3"
                "kaehler_titel kaehler_titel kaehler_titel"
                "kaehler1 kaehler2 ."
                "copen_titel copen_titel copen_titel"
                "copen . ."
                "ny_titel ny_titel ny_titel"
                "ny1 ny2 ."
                "footer footer footer";
    }

    #inspirationsside{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas:
              "header header"
              "stortekst stortekst"
              "images1 images1"
              "images2 images2"
              "footer footer";

      header{
        grid-area: header;
      }
      .stortekst{
        grid-area: stortekst;
      }
      .images1{
        grid-area: images1;
      }
      .images2{
        grid-area: images2;
      }
      footer{
        grid-area: footer;
      }
    }
  }
}