//overordnet
* {
  margin: 0;
}

html {
  font-size: 62.5%; //1rem=10px
}

body {
  background-color: #ffffff;
}

//Link til typografi
//h1
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700');
//h1
//h2
@import url('https://fonts.googleapis.com/css?family=Bitter:700');
//h2 slut
//p
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
//p slut
//Link til typografi slut

header {
  display: flex;
  justify-content: space-around;
}

header div {
  position: relative;
}

header div h2{
  position: absolute;
  top: 160px;
  left: 30px;
}

#logosort {
  width: 160pt;
  height: 124.224pt;
  padding: 20pt;

}

  h1 {
    font-family: Bitter, "Bell MT", Serif;
    font-weight: bold;
    text-align: center;
    margin: 16pt;
    color: #338aff;
    font-size: x-large;
  }

  h2 {
    font-familiy: "Centaur", Serif;
    font-style: italic;
    font-size: medium;
    color: #338aff;
  }

  h3 {
    font-family: Bitter, "Bell MT", Serif;
    font-weight: bold;
    font-size: medium;
    margin: 16pt;
    color: #4e6380;
  }

  p {
    font-family: Crimson, "Bell MT", Serif;
    text-align: left;
    margin: 16pt;
    color: #4e6380;
    font-size: large;
  }

  .one_image {
    display: flex;
    justify-content: center;
    margin: 16pt;
  }

  .images {
  display: flex;
  justify-content: space-around;
  margin: 16pt;
  }
  //overordnet slut

  //navigation
  nav {
    font-family: Crimson, "Bell MT", Serif;
    font-weight: bold;
    font-size: 13pt;
    //nav_placering af tekst
    display: flex;
    justify-content: space-around;
    padding: 8pt;
    margin: 0pt 10pt;
    //nav_placering af tekst slut

    //nav_links
      //nav_normal (besøgt, ikke besøgt og hover)
      a{
        color: #4e6380;
        text-decoration: none;
        background-color: #ffffff;
        padding: 2pt;
      }
      //nav_normal slut

      //nav_aktuel side
      .active {
        color: #80b6ff;
        background-color: #4e6380;
        padding: 2pt;
      }
      //nav_aktuel side

      //nav_klik
      a:active {
        //color: #80b6ff;
        color: white;
        background-color: #4e6380;
      text-decoration: none;
      }
      //nav_klik slut
  }
  //navigation slut

//forside

//forside-slut

//produkt -Anna

.produkt {
  width: 100%;
  max-width: 400px;
  //margin: 16pt;
}

.pr_section {
  margin: 16pt;
}

.pris {
  color: black;
  font-weight: bold;
}

//produkt-slut

//inspiration
.p_padding{
  padding-bottom: 40px;
}

#nederste{
  margin-bottom: +15px;
}
//inspiration-slut

    footer {
    background-color: #000000;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  footer img {
    height: 40px;
    padding: 10px;
  }